__pycache__/
*.py[cod]
*$py.class
.env
venv/
.env/
.venv/
Pipfile.lock
.DS_Store
.ipynb_checkpoints/
*.spec
dist/
build/
.vscode/
.idea/
*.log
*.tar
*.img
*.container
*.pid
docker-compose.override.yml
staticfiles/
*.db
saved_images/
